name: Tests
on: [push, pull_request]
env:
  CI: true

jobs:
  run:
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        # change `8.16.1` to `8` when https://github.com/actions/setup-node/issues/27
        # is fixed
        node: [6, 8.16.1, 10, 12]
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Clone repository
        uses: actions/checkout@v1

      - name: Set Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - run: node --version
      - run: npm --version

      - name: Install npm dependencies
        run: npm install

      - name: Run tests
        # workaround for xo not working with node versions < 10
        run: echo $(node --version | cut -d'.' -f 1) | ([ ${nv:1} -gte 10 ] && npm run test) || mocha
